# .env.example
DATABASE_URL=postgresql://neondb_owner:npg_Cj1zu2yigaVE@ep-divine-poetry-agn89qni-pooler.c-2.eu-central-1.aws.neon.tech/email_domain_verefication_neon_api_key?sslmode=require&channel_binding=require
RESEND_API_KEY=re_P3B58EdG_KjNtBa7snQRzkPbxT8LDa2nz
APP_BASE_URL=http://localhost:3000
CODE_HASH_SECRET=mysecret123
PORT=3000
